[submodule "intentlink-backend"]
	path = intentlink-backend
	url = https://github.com/SheriffMudasir/IntentLink-Backend
[submodule "intentlink-frontend"]
	path = intentlink-frontend
	url = https://github.com/SheriffMudasir/IntentLink-Frontend
